/*
COLOR PALETTE
#000000 - Black
#FDF7EF - Pale Pink (background)
#dd0e0e - Red
#f1e7d8 - BG (beige)
*/

/* ------------ HEADER ------------ */

nav {
  margin-bottom: 2em;
}

label.logo-adelabea {
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 80px;
  padding: 0 40px;
}

nav ul {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  background-color: #fdf7ef;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li a {
  font-size: 25px;
  padding: 7px 13px;
  border-bottom: 4px;
  color: #dd0e0e;
}

a:hover {
  text-decoration: underline;
  transition: 0.5s;
  border-bottom: 0.2px;
}
.checkboton {
  font-size: 25px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 1000px) {
  .label.logo {
    font-size: 20px;
  }

  .logo-adelabea {
    text-align: center;
  }

  nav ul li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  .checkboton {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 60px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 50px;
    padding: 3px;
  }

  a:hover,
  a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media screen and (max-width: 300px) {
  label.logo-adelabea {
    font-size: 28px;
  }
}

/* ------------ BODY ------------ */

.content {
  width: 100%;
  height: 70vh;
  margin-bottom: 2em;
}

.countdown {
  padding: 0.5em;
  text-align: center;
  margin: auto;
}

.highlight {
  font-family: "ITC Clearface Std";
  font-weight: 600;
  font-style: normal;
  font-size: 57px;
  padding: 1.5em 0 0.5em 0em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.subtitle {
  font-family: "ITC Clearface Std";
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

.meter {
  font-family: "ITC Clearface Std";
  font-style: normal;
  font-size: 80px;
  text-align: center;
  padding: 0.3em;
}

.working {
  width: 25em;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .highlight {
    font-size: 53px;
  }

  .subtitle {
    font-size: 38px;
  }

  .meter {
    font-size: 70px;
  }

  .working {
    width: 23em;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .highlight {
    font-size: 45px;
  }

  .subtitle {
    font-size: 30px;
  }

  .meter {
    font-size: 65px;
  }

  .working {
    width: 20em;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .highlight {
    font-size: 43px;
  }

  .subtitle {
    font-size: 25px;
  }

  .meter {
    font-size: 60px;
  }

  .working {
    width: 20em;
    height: auto;
  }
}

@media screen and (max-width: 300px) {
  .highlight {
    font-size: 35px;
    margin-top: 1em;
  }

  .subtitle {
    font-size: 25px;
  }

  .meter {
    font-size: 35px;
  }

  .working {
    width: 12em;
    height: auto;
  }
}
