/*
COLOR PALETTE
#000000 - Black
#FDF7EF - Pale Pink (background)
#dd0e0e - Red
#f1e7d8 - BG (beige)
*/

/* ------------ HEADER ------------ */

nav {
  margin-bottom: 2em;
}

label.logo-adelabea {
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 80px;
  padding: 0 40px;
}

nav ul {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  background-color: #fdf7ef;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}
nav ul li a {
  font-size: 25px;
  padding: 7px 13px;
  border-bottom: 4px;
  color: #dd0e0e;
}

a:hover {
  text-decoration: underline;
  transition: 0.5s;
  border-bottom: 0.2px;
}
.checkboton {
  font-size: 25px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 1000px) {
  .label.logo {
    font-size: 20px;
  }

  .logo-adelabea {
    text-align: center;
  }

  nav ul li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  .checkboton {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 60px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 50px;
    padding: 3px;
  }

  a:hover,
  a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media screen and (max-width: 300px) {
  label.logo-adelabea {
    font-size: 25px;
  }
}

/* ------------ BODY ------------ */

a:link,
a:visited {
  color: #dd0e0e;
}

.contact_info {
  justify-content: center;
  align-items: center;
}

.content_contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div ul li a {
  font-size: 35px;
  width: 100%;
}

.leftside_contact {
  width: 50%;
}

.rightside_contact {
  width: 50%;
}

.contact_specs {
  text-align: center;
}

.contact_sentence {
  text-align: center;
  align-items: center;
  margin: 4em;
}

.contact_intro,
.contact_sub {
  font-size: 40px;
  padding: 0.2em;
}

.contact_intro {
  font-weight: 400;
}

.contact_sub {
  font-weight: 600;
}

/* FORM */

form {
  font-family: "ITC Clearface Std";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form .grids {
  margin: 2em;
}

input {
  background-color: #ffffffa5;
  color: #b89292;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  border: none;
  border-bottom: 1.9px solid #dd0e0e;
  text-align: center;
  overflow: scroll;
}

input:focus {
  outline: none;
  color: #dd0e0e;
}

div div label {
  color: #dd0e0e;
  font-size: 25px;
  position: relative;
  text-align: center;
  transition: 0.5s ease all;
  pointer-events: none;
}

.warnings {
  width: 30em;
  text-align: center;
  margin: auto;
  color: #4b4b4b;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.button {
  font-family: "ITC Clearface Std";
  font-weight: 800;
  font-size: 20px;
  width: 8em;
  margin: 1.5em;
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
  background-color: #dd0e0e;
  border: 1px solid #dd0e0e;
}

.button:hover {
  color: #dd0e0e;
  background-color: #fdf7ef;
  border: 1px solid #dd0e0e;
}

@media screen and (max-width: 1000px) {
  .contact_specs li {
    margin-top: 1em;
  }

  .contact_intro,
  .contact_sub {
    font-size: 30px;
  }

  .leftside_contact {
    width: 100%;
    align-content: center;
  }

  .rightside_contact {
    width: 100%;
    align-content: center;
  }
}

@media screen and (max-width: 800px) {
  .contact_intro,
  .contact_sub {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .contact_intro,
  .contact_sub {
    font-size: 25px;
  }

  input {
    font-size: 16px;
  }
}
